/* Styles for main.css */

body {
  margin: 0;
  background-color: #FF0;
}

.container {
  background-color: yellowgreen;
  width: 60%;
  margin: 0 auto 20px;
  padding: 20px;
  color: #FFF;
}

.container--red {
  /*background-color: tomato;*/
  background-color: blue;
}

.container--yellow {
  /*background-color: orange;*/
  background-color: blue;
}

.container--green {
  background-color: green;
}

.title {
  margin: 0;
  font-size: 60px;
  line-height: 1;
  font-family: monospace;
}

.text {
  margin: 0;
  text-decoration: underline;
}
